USE [master]
GO
/****** Object:  Database [quanlyphongkham_vi]    Script Date: 12/20/2017 3:52:40 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'quanlyphongkham_vi')
BEGIN
CREATE DATABASE [quanlyphongkham_vi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlyphongkham_vi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\quanlyphongkham_vi.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'quanlyphongkham_vi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\quanlyphongkham_vi_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlyphongkham_vi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlyphongkham_vi]
GO
/****** Object:  Table [dbo].[BENHNHAN]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BENHNHAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BENHNHAN](
	[MABN] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL DEFAULT ((1)),
	[NGAYSINH] [date] NULL,
	[DANTOC] [nvarchar](50) NULL DEFAULT ('Kinh'),
	[SOCMND] [nvarchar](20) NULL,
	[DIACHI] [nvarchar](250) NULL,
	[SODT] [varchar](20) NULL,
	[TIENSU] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CANLAMSANG]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CANLAMSANG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CANLAMSANG](
	[MACLS] [int] IDENTITY(1,1) NOT NULL,
	[TENCLS] [nvarchar](250) NULL,
	[GIATIEN] [money] NULL,
	[MALOAICLS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CHITIETCLS]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETCLS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CHITIETCLS](
	[MADICHVUCLS] [int] NOT NULL,
	[MACLS] [int] NOT NULL,
	[KETQUA] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADICHVUCLS] ASC,
	[MACLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETDONTHUOC]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETDONTHUOC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CHITIETDONTHUOC](
	[MADONTHUOC] [int] NOT NULL,
	[MATHUOC] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[HUONGDAN] [text] NULL,
 CONSTRAINT [CTDT_MADONTHUOC_MATHUOC_PK] PRIMARY KEY CLUSTERED 
(
	[MADONTHUOC] ASC,
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CHITIETNHAPVATTU]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETNHAPVATTU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CHITIETNHAPVATTU](
	[MAPHIEUNHAP] [int] NOT NULL,
	[MAVTYT] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[MAHSX] [int] NULL,
	[NGAYSX] [date] NULL,
	[NGAYHETHAN] [date] NULL,
	[GIANHAP] [money] NULL,
	[MANHACC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[MAVTYT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAPTHUOC]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUNHAPTHUOC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CHITIETPHIEUNHAPTHUOC](
	[MAPHIEUNHAP] [int] NOT NULL,
	[MATHUOC] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[NGAYSX] [date] NULL,
	[NGAYHETHAN] [date] NULL,
	[GIANHAP] [money] NULL,
	[GIABANLE] [money] NULL,
	[MAHSX] [int] NULL,
	[MANHACC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CHUCDANH]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHUCDANH]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CHUCDANH](
	[MACHUCDANH] [int] IDENTITY(1,1) NOT NULL,
	[TENCHUCDANH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUCDANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHUCVU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CHUCVU](
	[MACHUCVU] [int] IDENTITY(1,1) NOT NULL,
	[TENCHUCVU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[DICHVUCLS]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DICHVUCLS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DICHVUCLS](
	[MADICHVUCLS] [int] IDENTITY(1,1) NOT NULL,
	[MAPHIEUKHAM] [int] NULL,
	[TONGCONG] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADICHVUCLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[DONTHUOC]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DONTHUOC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DONTHUOC](
	[MADONTHUOC] [int] IDENTITY(1,1) NOT NULL,
	[MAPHIEUKHAM] [int] NOT NULL,
	[TONGCONG] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADONTHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[DONVITINH]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DONVITINH]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DONVITINH](
	[MADVT] [int] IDENTITY(1,1) NOT NULL,
	[TENDVT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[HANGSANXUAT]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HANGSANXUAT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HANGSANXUAT](
	[MAHSX] [int] IDENTITY(1,1) NOT NULL,
	[TENHSX] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](250) NULL,
	[MAQUOCGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[HINHTHUCKHAM]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HINHTHUCKHAM]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HINHTHUCKHAM](
	[MAHINHTHUCKHAM] [int] IDENTITY(1,1) NOT NULL,
	[TENHINHTHUCKHAM] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHINHTHUCKHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HOADON]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [int] IDENTITY(1,1) NOT NULL,
	[MAPHIEUKHAM] [int] NOT NULL,
	[TONGCONG] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KHOA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [int] IDENTITY(1,1) NOT NULL,
	[TENKHOA] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[LOAICANLAMSANG]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOAICANLAMSANG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOAICANLAMSANG](
	[MALOAICLS] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAICLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[LOAITHUOC]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOAITHUOC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOAITHUOC](
	[MALOAITHUOC] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAITHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHACUNGCAP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACC] [int] IDENTITY(1,1) NOT NULL,
	[TENNHACC] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SODT] [varchar](20) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MAQUOCGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHANVIEN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[SODT] [varchar](20) NULL,
	[EMAIL] [varchar](50) NULL,
	[MAKHOA] [int] NULL,
	[MACHUCDANH] [int] NULL,
	[LOAINHANVIEN] [nvarchar](50) NULL DEFAULT (N'Bác Sĩ'),
	[MACHUCVU] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHANQUYEN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PHANQUYEN](
	[MAPHANQUYEN] [int] IDENTITY(1,1) NOT NULL,
	[QUYEN] [int] NULL DEFAULT ((1)),
	[GHICHU] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHANQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[PHIEUKHAM]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHIEUKHAM]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PHIEUKHAM](
	[MAPHIEUKHAM] [int] IDENTITY(1,1) NOT NULL,
	[MABN] [int] NULL,
	[MANV] [int] NULL,
	[NVTIEPNHAN] [int] NULL,
	[CHUANDOAN] [nvarchar](250) NULL,
	[MAHINHTHUCKHAM] [int] NULL,
	[NHIPTIM] [nvarchar](10) NULL,
	[NHIETDO] [nvarchar](10) NULL,
	[HUYETAP] [nvarchar](10) NULL,
	[CANNANG] [int] NULL,
	[CHIEUCAO] [int] NULL,
	[MAICD] [nvarchar](10) NULL,
	[NGAYKHAM] [date] NULL DEFAULT (getdate()),
	[HOANTHANH] [int] NULL DEFAULT ((0)),
	[DATHANHTOAN] [bit] NULL DEFAULT ((0)),
	[KETLUAN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUKHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHIEUNHAP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEUNHAP] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[NGAYNHAP] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[QUOCGIA]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QUOCGIA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QUOCGIA](
	[MAQUOCGIA] [int] IDENTITY(1,1) NOT NULL,
	[TENQUOCGIA] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAQUOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TAIKHOAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NOT NULL,
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](50) NOT NULL,
	[TENHIENTHI] [nvarchar](50) NULL,
	[MAPHANQUYEN] [int] NULL DEFAULT ((1)),
	[TRANGTHAI] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[THUOC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[THUOC](
	[MATHUOC] [int] IDENTITY(1,1) NOT NULL,
	[TENTHUOC] [nvarchar](50) NOT NULL,
	[DONVITINH] [int] NULL,
	[LOAITHUOC] [int] NULL,
	[SOLUONGTON] [int] NULL,
	[GHICHU] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[VATTUYTE]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VATTUYTE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VATTUYTE](
	[MAVTYT] [int] IDENTITY(1,1) NOT NULL,
	[TENVATTU] [nvarchar](250) NULL,
	[MADVT] [int] NULL,
	[SOLUONGTON] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVTYT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[BENHNHAN] ON 

INSERT [dbo].[BENHNHAN] ([MABN], [HOTEN], [GIOITINH], [NGAYSINH], [DANTOC], [SOCMND], [DIACHI], [SODT], [TIENSU]) VALUES (1, N'HỒ THANH SƠN', 1, CAST(N'1968-01-01' AS Date), N'Kinh', N'312574968', N'209, TRẦN HƯNG ĐẠO,Q.5', N'0936547821', N'Không')
INSERT [dbo].[BENHNHAN] ([MABN], [HOTEN], [GIOITINH], [NGAYSINH], [DANTOC], [SOCMND], [DIACHI], [SODT], [TIENSU]) VALUES (2, N'TRẦN TÂM THANH', 1, CAST(N'1960-03-04' AS Date), N'Kinh', N'312574896', N'109/2 CMTT F10 QTB', N'0936547563', N'Không')
INSERT [dbo].[BENHNHAN] ([MABN], [HOTEN], [GIOITINH], [NGAYSINH], [DANTOC], [SOCMND], [DIACHI], [SODT], [TIENSU]) VALUES (3, N'TRẦN NAM SƠN', 1, CAST(N'1979-01-19' AS Date), N'Kinh', N'312574520', N'34 DỖ DUY DƯƠNG, Q.5', N'0936547852', N'Không có tiền sử khám')
SET IDENTITY_INSERT [dbo].[BENHNHAN] OFF
SET IDENTITY_INSERT [dbo].[CANLAMSANG] ON 

INSERT [dbo].[CANLAMSANG] ([MACLS], [TENCLS], [GIATIEN], [MALOAICLS]) VALUES (1, N'CHỤP HÌNH X-QUANG', 50000.0000, 1)
INSERT [dbo].[CANLAMSANG] ([MACLS], [TENCLS], [GIATIEN], [MALOAICLS]) VALUES (2, N'SIÊU ÂM', 100000.0000, 2)
INSERT [dbo].[CANLAMSANG] ([MACLS], [TENCLS], [GIATIEN], [MALOAICLS]) VALUES (3, N'CHỤP CẮT LỚP VI TÍNH', 150000.0000, 3)
SET IDENTITY_INSERT [dbo].[CANLAMSANG] OFF
INSERT [dbo].[CHITIETCLS] ([MADICHVUCLS], [MACLS], [KETQUA]) VALUES (1, 1, N'GÃY CHÂN PH?I')
INSERT [dbo].[CHITIETCLS] ([MADICHVUCLS], [MACLS], [KETQUA]) VALUES (2, 3, N'Ð?T DÂY CH?NG CHÂN TRÁI')
INSERT [dbo].[CHITIETCLS] ([MADICHVUCLS], [MACLS], [KETQUA]) VALUES (3, 2, N'File\Xet-nghiem\XN')
INSERT [dbo].[CHITIETDONTHUOC] ([MADONTHUOC], [MATHUOC], [SOLUONG], [HUONGDAN]) VALUES (2, 3, 30, N'U?NG M?T NGÀY 2 L?N ')
INSERT [dbo].[CHITIETDONTHUOC] ([MADONTHUOC], [MATHUOC], [SOLUONG], [HUONGDAN]) VALUES (2, 5, 20, N'U?NG M?T NGÀY 2 L?N SÁNG CHI?U')
INSERT [dbo].[CHITIETDONTHUOC] ([MADONTHUOC], [MATHUOC], [SOLUONG], [HUONGDAN]) VALUES (3, 2, 11, N'2')
INSERT [dbo].[CHITIETNHAPVATTU] ([MAPHIEUNHAP], [MAVTYT], [SOLUONG], [MAHSX], [NGAYSX], [NGAYHETHAN], [GIANHAP], [MANHACC]) VALUES (1, 1, 2, 1, CAST(N'2017-05-07' AS Date), CAST(N'2020-05-07' AS Date), NULL, 1)
INSERT [dbo].[CHITIETNHAPVATTU] ([MAPHIEUNHAP], [MAVTYT], [SOLUONG], [MAHSX], [NGAYSX], [NGAYHETHAN], [GIANHAP], [MANHACC]) VALUES (2, 3, 4, 3, CAST(N'2017-07-07' AS Date), CAST(N'2020-07-07' AS Date), NULL, 4)
INSERT [dbo].[CHITIETNHAPVATTU] ([MAPHIEUNHAP], [MAVTYT], [SOLUONG], [MAHSX], [NGAYSX], [NGAYHETHAN], [GIANHAP], [MANHACC]) VALUES (3, 2, 3, 3, CAST(N'2017-05-07' AS Date), CAST(N'2020-05-07' AS Date), NULL, 2)
INSERT [dbo].[CHITIETPHIEUNHAPTHUOC] ([MAPHIEUNHAP], [MATHUOC], [SOLUONG], [NGAYSX], [NGAYHETHAN], [GIANHAP], [GIABANLE], [MAHSX], [MANHACC]) VALUES (1, 1, 100, CAST(N'2017-08-11' AS Date), CAST(N'2019-08-11' AS Date), 1200000.0000, 15000.0000, 1, 1)
INSERT [dbo].[CHITIETPHIEUNHAPTHUOC] ([MAPHIEUNHAP], [MATHUOC], [SOLUONG], [NGAYSX], [NGAYHETHAN], [GIANHAP], [GIABANLE], [MAHSX], [MANHACC]) VALUES (2, 2, 100, CAST(N'2017-08-11' AS Date), CAST(N'2020-08-11' AS Date), 2000000.0000, 25000.0000, 2, 2)
INSERT [dbo].[CHITIETPHIEUNHAPTHUOC] ([MAPHIEUNHAP], [MATHUOC], [SOLUONG], [NGAYSX], [NGAYHETHAN], [GIANHAP], [GIABANLE], [MAHSX], [MANHACC]) VALUES (3, 3, 200, CAST(N'2017-08-12' AS Date), CAST(N'2020-08-12' AS Date), 4000000.0000, 45000.0000, 3, 3)
SET IDENTITY_INSERT [dbo].[CHUCDANH] ON 

INSERT [dbo].[CHUCDANH] ([MACHUCDANH], [TENCHUCDANH]) VALUES (1, N'TIẾN SĨ')
INSERT [dbo].[CHUCDANH] ([MACHUCDANH], [TENCHUCDANH]) VALUES (2, N'THẠC SĨ')
INSERT [dbo].[CHUCDANH] ([MACHUCDANH], [TENCHUCDANH]) VALUES (3, N'TIẾN SĨ')
SET IDENTITY_INSERT [dbo].[CHUCDANH] OFF
SET IDENTITY_INSERT [dbo].[CHUCVU] ON 

INSERT [dbo].[CHUCVU] ([MACHUCVU], [TENCHUCVU]) VALUES (1, N'TRƯỞNG KHOA KHÁM BỆNH')
INSERT [dbo].[CHUCVU] ([MACHUCVU], [TENCHUCVU]) VALUES (2, N'TRƯỞNG KHOA HỒI SỨC CẤP CỨU')
INSERT [dbo].[CHUCVU] ([MACHUCVU], [TENCHUCVU]) VALUES (3, N'TRƯỞNG KHOA MẮT')
SET IDENTITY_INSERT [dbo].[CHUCVU] OFF
SET IDENTITY_INSERT [dbo].[DICHVUCLS] ON 

INSERT [dbo].[DICHVUCLS] ([MADICHVUCLS], [MAPHIEUKHAM], [TONGCONG]) VALUES (1, 1, 50000.0000)
INSERT [dbo].[DICHVUCLS] ([MADICHVUCLS], [MAPHIEUKHAM], [TONGCONG]) VALUES (2, 2, 100000.0000)
INSERT [dbo].[DICHVUCLS] ([MADICHVUCLS], [MAPHIEUKHAM], [TONGCONG]) VALUES (3, 3, 500000.0000)
SET IDENTITY_INSERT [dbo].[DICHVUCLS] OFF
SET IDENTITY_INSERT [dbo].[DONTHUOC] ON 

INSERT [dbo].[DONTHUOC] ([MADONTHUOC], [MAPHIEUKHAM], [TONGCONG]) VALUES (1, 1, 0.0000)
INSERT [dbo].[DONTHUOC] ([MADONTHUOC], [MAPHIEUKHAM], [TONGCONG]) VALUES (2, 2, 0.0000)
INSERT [dbo].[DONTHUOC] ([MADONTHUOC], [MAPHIEUKHAM], [TONGCONG]) VALUES (3, 3, 0.0000)
SET IDENTITY_INSERT [dbo].[DONTHUOC] OFF
SET IDENTITY_INSERT [dbo].[DONVITINH] ON 

INSERT [dbo].[DONVITINH] ([MADVT], [TENDVT]) VALUES (1, N'VIÊN')
INSERT [dbo].[DONVITINH] ([MADVT], [TENDVT]) VALUES (2, N'HỘP')
INSERT [dbo].[DONVITINH] ([MADVT], [TENDVT]) VALUES (3, N'LỌ')
SET IDENTITY_INSERT [dbo].[DONVITINH] OFF
SET IDENTITY_INSERT [dbo].[HANGSANXUAT] ON 

INSERT [dbo].[HANGSANXUAT] ([MAHSX], [TENHSX], [DIACHI], [MAQUOCGIA]) VALUES (1, N'Công ty cổ phần quốc tế Minh Việt (IMV)', N'Quận 7, Hồ Chí Minh', 1)
INSERT [dbo].[HANGSANXUAT] ([MAHSX], [TENHSX], [DIACHI], [MAQUOCGIA]) VALUES (2, N'Shimadzu Vietnam', N'87 Lương Đình Của, Phương Mai, Đống Đa, Hà Nội.', 1)
INSERT [dbo].[HANGSANXUAT] ([MAHSX], [TENHSX], [DIACHI], [MAQUOCGIA]) VALUES (3, N'Creatz3D Pte Ltd', N'08-07 Yi Guang Factory Building Singapore 409032 ', 2)
SET IDENTITY_INSERT [dbo].[HANGSANXUAT] OFF
SET IDENTITY_INSERT [dbo].[HINHTHUCKHAM] ON 

INSERT [dbo].[HINHTHUCKHAM] ([MAHINHTHUCKHAM], [TENHINHTHUCKHAM]) VALUES (1, N'Khám thường')
INSERT [dbo].[HINHTHUCKHAM] ([MAHINHTHUCKHAM], [TENHINHTHUCKHAM]) VALUES (2, N'Khám dịch vụ')
INSERT [dbo].[HINHTHUCKHAM] ([MAHINHTHUCKHAM], [TENHINHTHUCKHAM]) VALUES (3, N'Khám cấp cứu')
SET IDENTITY_INSERT [dbo].[HINHTHUCKHAM] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHOADON], [MAPHIEUKHAM], [TONGCONG]) VALUES (1, 1, 0.0000)
INSERT [dbo].[HOADON] ([MAHOADON], [MAPHIEUKHAM], [TONGCONG]) VALUES (2, 2, 0.0000)
INSERT [dbo].[HOADON] ([MAHOADON], [MAPHIEUKHAM], [TONGCONG]) VALUES (3, 3, 0.0000)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHOA] ON 

INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (1, N'KHOA KHÁM BỆNH')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (2, N'KHOA HỒI SỨC CẤP CỨU')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (3, N'KHOA MẮT')
SET IDENTITY_INSERT [dbo].[KHOA] OFF
SET IDENTITY_INSERT [dbo].[LOAICANLAMSANG] ON 

INSERT [dbo].[LOAICANLAMSANG] ([MALOAICLS], [TENLOAI]) VALUES (1, N'KHOA DƯỢC')
INSERT [dbo].[LOAICANLAMSANG] ([MALOAICLS], [TENLOAI]) VALUES (2, N'KHOA XÉT NGHIỆM')
INSERT [dbo].[LOAICANLAMSANG] ([MALOAICLS], [TENLOAI]) VALUES (3, N'KHOA CHUẨN ĐOÁN HÌNH ẢNH')
SET IDENTITY_INSERT [dbo].[LOAICANLAMSANG] OFF
SET IDENTITY_INSERT [dbo].[LOAITHUOC] ON 

INSERT [dbo].[LOAITHUOC] ([MALOAITHUOC], [TENLOAI]) VALUES (1, N'THUỐC CHỐNG DỊ ỨNG')
INSERT [dbo].[LOAITHUOC] ([MALOAITHUOC], [TENLOAI]) VALUES (2, N'HẠ SỐT, CHỐNG CO THẮT, GIẢM ĐAU')
INSERT [dbo].[LOAITHUOC] ([MALOAITHUOC], [TENLOAI]) VALUES (3, N'THUỐC ĐIỀU TRỊ BỆNH KHỚP')
SET IDENTITY_INSERT [dbo].[LOAITHUOC] OFF
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MANHACC], [TENNHACC], [DIACHI], [SODT], [EMAIL], [MAQUOCGIA]) VALUES (1, N'CÔNG TY CỔ PHẦN NEEMTREE', N'37/5B, TRUNG MỸ TÂY, TRUNG CHÁNH, HÓC MÔN, TP.HCM', N'02871066869', N'www.info@neemtree.vn', 1)
INSERT [dbo].[NHACUNGCAP] ([MANHACC], [TENNHACC], [DIACHI], [SODT], [EMAIL], [MAQUOCGIA]) VALUES (2, N'CÔNG TY TNHH MTV THIỆN OANH', N'1/13/1,NGUYỄN ĐÌNH KHỞI, P.4,Q.TÂN BÌNH, TP.HCM', N'02838117762', N'www.thaoduocthiennhienvn@gmail.com', 2)
INSERT [dbo].[NHACUNGCAP] ([MANHACC], [TENNHACC], [DIACHI], [SODT], [EMAIL], [MAQUOCGIA]) VALUES (3, N'CÔNG TY CỔ PHẦN FOUR-H VIỆT NAM', N'57/7F,HỒ BÁ PHẤN, P.PHƯỚC LONG A,Q.9,TP.HCM', N'02862808488', N'www.foursjc@gmail.com', 3)
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [GIOITINH], [SODT], [EMAIL], [MAKHOA], [MACHUCDANH], [LOAINHANVIEN], [MACHUCVU]) VALUES (1, N'DANG HUYNH DAT Y', 1, N'O971234578', N'danghuynhdaty@gmail.com', 1, 1, N'Bác Sĩ', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [GIOITINH], [SODT], [EMAIL], [MAKHOA], [MACHUCDANH], [LOAINHANVIEN], [MACHUCVU]) VALUES (2, N'DINH BA TIEN', 1, N'0978684538', N'dinhbatien@gmail.com', 2, 2, N'Bác Sĩ', 2)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [GIOITINH], [SODT], [EMAIL], [MAKHOA], [MACHUCDANH], [LOAINHANVIEN], [MACHUCVU]) VALUES (3, N'TRUONG NGUYEN HOANG THUONG', 1, N'O971452648', N'truongnguyenhoangthuong97@gmail.com', 3, 3, N'Bác Sĩ', 3)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[PHANQUYEN] ON 

INSERT [dbo].[PHANQUYEN] ([MAPHANQUYEN], [QUYEN], [GHICHU]) VALUES (1, 1, N'Admin')
INSERT [dbo].[PHANQUYEN] ([MAPHANQUYEN], [QUYEN], [GHICHU]) VALUES (2, 2, N'Bác Sĩ')
INSERT [dbo].[PHANQUYEN] ([MAPHANQUYEN], [QUYEN], [GHICHU]) VALUES (3, 3, N'Y tá')
SET IDENTITY_INSERT [dbo].[PHANQUYEN] OFF
SET IDENTITY_INSERT [dbo].[PHIEUKHAM] ON 

INSERT [dbo].[PHIEUKHAM] ([MAPHIEUKHAM], [MABN], [MANV], [NVTIEPNHAN], [CHUANDOAN], [MAHINHTHUCKHAM], [NHIPTIM], [NHIETDO], [HUYETAP], [CANNANG], [CHIEUCAO], [MAICD], [NGAYKHAM], [HOANTHANH], [DATHANHTOAN], [KETLUAN]) VALUES (1, 1, 1, 1, N'Thiếu vitamin, suy nhược', 1, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2017-12-05' AS Date), 1, 0, N'Thiếu máu')
INSERT [dbo].[PHIEUKHAM] ([MAPHIEUKHAM], [MABN], [MANV], [NVTIEPNHAN], [CHUANDOAN], [MAHINHTHUCKHAM], [NHIPTIM], [NHIETDO], [HUYETAP], [CANNANG], [CHIEUCAO], [MAICD], [NGAYKHAM], [HOANTHANH], [DATHANHTOAN], [KETLUAN]) VALUES (2, 2, 1, 1, N'Chấn động mạnh, bông gân', 1, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2017-12-05' AS Date), 1, 0, N'Dập cơ')
INSERT [dbo].[PHIEUKHAM] ([MAPHIEUKHAM], [MABN], [MANV], [NVTIEPNHAN], [CHUANDOAN], [MAHINHTHUCKHAM], [NHIPTIM], [NHIETDO], [HUYETAP], [CANNANG], [CHIEUCAO], [MAICD], [NGAYKHAM], [HOANTHANH], [DATHANHTOAN], [KETLUAN]) VALUES (3, 3, 2, 1, N'Đau dạ dày, lâu ngày', 1, N'', N'40', N'', 56, 166, N'', CAST(N'2017-12-04' AS Date), 1, 0, N'Loét dạ dày cấp tính')
SET IDENTITY_INSERT [dbo].[PHIEUKHAM] OFF
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([MAPHIEUNHAP], [MANV], [NGAYNHAP]) VALUES (1, 1, CAST(N'2017-08-12' AS Date))
INSERT [dbo].[PHIEUNHAP] ([MAPHIEUNHAP], [MANV], [NGAYNHAP]) VALUES (2, 2, CAST(N'2017-08-16' AS Date))
INSERT [dbo].[PHIEUNHAP] ([MAPHIEUNHAP], [MANV], [NGAYNHAP]) VALUES (3, 3, CAST(N'2017-09-10' AS Date))
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
SET IDENTITY_INSERT [dbo].[QUOCGIA] ON 

INSERT [dbo].[QUOCGIA] ([MAQUOCGIA], [TENQUOCGIA]) VALUES (1, N'VIỆT NAM')
INSERT [dbo].[QUOCGIA] ([MAQUOCGIA], [TENQUOCGIA]) VALUES (2, N'SINGAPORE ')
INSERT [dbo].[QUOCGIA] ([MAQUOCGIA], [TENQUOCGIA]) VALUES (3, N'THỦY SĨ')
SET IDENTITY_INSERT [dbo].[QUOCGIA] OFF
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([MATK], [MANV], [TENDANGNHAP], [MATKHAU], [TENHIENTHI], [MAPHANQUYEN], [TRANGTHAI]) VALUES (1, 1, N'admin', N'1', N'Admin', 1, 1)
INSERT [dbo].[TAIKHOAN] ([MATK], [MANV], [TENDANGNHAP], [MATKHAU], [TENHIENTHI], [MAPHANQUYEN], [TRANGTHAI]) VALUES (2, 2, N'bacsi', N'1', N'Bác sĩ', 2, 1)
INSERT [dbo].[TAIKHOAN] ([MATK], [MANV], [TENDANGNHAP], [MATKHAU], [TENHIENTHI], [MAPHANQUYEN], [TRANGTHAI]) VALUES (3, 4, N'yta', N'1', N'Y tá', 3, 1)
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
SET IDENTITY_INSERT [dbo].[THUOC] ON 

INSERT [dbo].[THUOC] ([MATHUOC], [TENTHUOC], [DONVITINH], [LOAITHUOC], [SOLUONGTON], [GHICHU]) VALUES (1, N'Thuốc Prednisolone 5mg', 1, 2, 100, N'S? dang ký: VN-9867-05 D?ng bào ch?: viên nén Quy cách dóng gói: h?p 100 viên Công ty dang ký: S.I.A. (Tenamyd Canada) Inc. Thành ph?n:prednisolone: 5mg Ch? d?nh: Ch?ng viêm, ch?ng d? ?ng m?nh và ?c ch? mi?n d?ch. Dùng khi viêm dau kh?p d?c bi?t là viêm th?p kh?p, da kh?p, viêm nhi?m')
INSERT [dbo].[THUOC] ([MATHUOC], [TENTHUOC], [DONVITINH], [LOAITHUOC], [SOLUONGTON], [GHICHU]) VALUES (2, N'Thuốc Colocol 500mg', 1, 1, 50, N'S? dang ký: VD-1999-06 D?ng bào ch?: viên nén Quy cách dóng gói: H?p 6 v? x 10 viên Công ty dang ký: Công ty TNHH Sao Kim Thành ph?n:Paracetamol: 500mg Ch? d?nh: Ði?u tr? tri?u ch?ng các con dau v?a và nh?, các tr?ng thái s?t. Ch?ng ch? d?nh: – M?n c?m v?i thu?c')
INSERT [dbo].[THUOC] ([MATHUOC], [TENTHUOC], [DONVITINH], [LOAITHUOC], [SOLUONGTON], [GHICHU]) VALUES (3, N'Thuốc Vinsamin 250mg', 1, 3, 100, N'S? dang ký: VNA-1273-03 D?ng bào ch?: viên nang Quy cách dóng gói: H?p 9 v? x 10 viên Công ty dang ký: Xí nghi?p du?c ph?m trung uong 1 Thành ph?n:Glucosamin: 250mg Ch? d?nh: T?t c? các b?nh thoái hóa xuong kh?p, thoái kh?p nguyên phát và th? phát nhu thoái kh?p g?i, háng,')
SET IDENTITY_INSERT [dbo].[THUOC] OFF
SET IDENTITY_INSERT [dbo].[VATTUYTE] ON 

INSERT [dbo].[VATTUYTE] ([MAVTYT], [TENVATTU], [MADVT], [SOLUONGTON]) VALUES (1, N'MÁY CH?P X-QUANG', 1, 5)
INSERT [dbo].[VATTUYTE] ([MAVTYT], [TENVATTU], [MADVT], [SOLUONGTON]) VALUES (2, N'MÁY N?I SOI', 2, 3)
INSERT [dbo].[VATTUYTE] ([MAVTYT], [TENVATTU], [MADVT], [SOLUONGTON]) VALUES (3, N'MÁY SIÊU ÂM', 3, 4)
SET IDENTITY_INSERT [dbo].[VATTUYTE] OFF
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CANLAMSANG_LOAICANLAMSANG]') AND parent_object_id = OBJECT_ID(N'[dbo].[CANLAMSANG]'))
ALTER TABLE [dbo].[CANLAMSANG]  WITH CHECK ADD  CONSTRAINT [FK_CANLAMSANG_LOAICANLAMSANG] FOREIGN KEY([MALOAICLS])
REFERENCES [dbo].[LOAICANLAMSANG] ([MALOAICLS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CANLAMSANG_LOAICANLAMSANG]') AND parent_object_id = OBJECT_ID(N'[dbo].[CANLAMSANG]'))
ALTER TABLE [dbo].[CANLAMSANG] CHECK CONSTRAINT [FK_CANLAMSANG_LOAICANLAMSANG]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETCLS_CANLAMSANG]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETCLS]'))
ALTER TABLE [dbo].[CHITIETCLS]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETCLS_CANLAMSANG] FOREIGN KEY([MACLS])
REFERENCES [dbo].[CANLAMSANG] ([MACLS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETCLS_CANLAMSANG]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETCLS]'))
ALTER TABLE [dbo].[CHITIETCLS] CHECK CONSTRAINT [FK_CHITIETCLS_CANLAMSANG]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETCLS_DICHVUCLS]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETCLS]'))
ALTER TABLE [dbo].[CHITIETCLS]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETCLS_DICHVUCLS] FOREIGN KEY([MADICHVUCLS])
REFERENCES [dbo].[DICHVUCLS] ([MADICHVUCLS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETCLS_DICHVUCLS]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETCLS]'))
ALTER TABLE [dbo].[CHITIETCLS] CHECK CONSTRAINT [FK_CHITIETCLS_DICHVUCLS]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CTDT_MADONTHUOC_FK]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETDONTHUOC]'))
ALTER TABLE [dbo].[CHITIETDONTHUOC]  WITH CHECK ADD  CONSTRAINT [CTDT_MADONTHUOC_FK] FOREIGN KEY([MADONTHUOC])
REFERENCES [dbo].[DONTHUOC] ([MADONTHUOC])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CTDT_MADONTHUOC_FK]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETDONTHUOC]'))
ALTER TABLE [dbo].[CHITIETDONTHUOC] CHECK CONSTRAINT [CTDT_MADONTHUOC_FK]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CTDT_MATHUOC_FK]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETDONTHUOC]'))
ALTER TABLE [dbo].[CHITIETDONTHUOC]  WITH CHECK ADD  CONSTRAINT [CTDT_MATHUOC_FK] FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[THUOC] ([MATHUOC])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CTDT_MATHUOC_FK]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETDONTHUOC]'))
ALTER TABLE [dbo].[CHITIETDONTHUOC] CHECK CONSTRAINT [CTDT_MATHUOC_FK]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETNHAPVATTU_HANGSANXUAT]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETNHAPVATTU]'))
ALTER TABLE [dbo].[CHITIETNHAPVATTU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETNHAPVATTU_HANGSANXUAT] FOREIGN KEY([MAHSX])
REFERENCES [dbo].[HANGSANXUAT] ([MAHSX])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETNHAPVATTU_HANGSANXUAT]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETNHAPVATTU]'))
ALTER TABLE [dbo].[CHITIETNHAPVATTU] CHECK CONSTRAINT [FK_CHITIETNHAPVATTU_HANGSANXUAT]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETNHAPVATTU_NHACUNGCAP]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETNHAPVATTU]'))
ALTER TABLE [dbo].[CHITIETNHAPVATTU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETNHAPVATTU_NHACUNGCAP] FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACC])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETNHAPVATTU_NHACUNGCAP]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETNHAPVATTU]'))
ALTER TABLE [dbo].[CHITIETNHAPVATTU] CHECK CONSTRAINT [FK_CHITIETNHAPVATTU_NHACUNGCAP]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETNHAPVATTU_PHIEUNHAP]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETNHAPVATTU]'))
ALTER TABLE [dbo].[CHITIETNHAPVATTU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETNHAPVATTU_PHIEUNHAP] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEUNHAP])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETNHAPVATTU_PHIEUNHAP]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETNHAPVATTU]'))
ALTER TABLE [dbo].[CHITIETNHAPVATTU] CHECK CONSTRAINT [FK_CHITIETNHAPVATTU_PHIEUNHAP]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETNHAPVATTU_VATTUYTE]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETNHAPVATTU]'))
ALTER TABLE [dbo].[CHITIETNHAPVATTU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETNHAPVATTU_VATTUYTE] FOREIGN KEY([MAVTYT])
REFERENCES [dbo].[VATTUYTE] ([MAVTYT])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETNHAPVATTU_VATTUYTE]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETNHAPVATTU]'))
ALTER TABLE [dbo].[CHITIETNHAPVATTU] CHECK CONSTRAINT [FK_CHITIETNHAPVATTU_VATTUYTE]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETPHIEUNHAPTHUOC_HANGSANXUAT]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUNHAPTHUOC]'))
ALTER TABLE [dbo].[CHITIETPHIEUNHAPTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAPTHUOC_HANGSANXUAT] FOREIGN KEY([MAHSX])
REFERENCES [dbo].[HANGSANXUAT] ([MAHSX])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETPHIEUNHAPTHUOC_HANGSANXUAT]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUNHAPTHUOC]'))
ALTER TABLE [dbo].[CHITIETPHIEUNHAPTHUOC] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAPTHUOC_HANGSANXUAT]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETPHIEUNHAPTHUOC_NHACUNGCAP]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUNHAPTHUOC]'))
ALTER TABLE [dbo].[CHITIETPHIEUNHAPTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAPTHUOC_NHACUNGCAP] FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACC])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETPHIEUNHAPTHUOC_NHACUNGCAP]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUNHAPTHUOC]'))
ALTER TABLE [dbo].[CHITIETPHIEUNHAPTHUOC] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAPTHUOC_NHACUNGCAP]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETPHIEUNHAPTHUOC_PHIEUNHAP]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUNHAPTHUOC]'))
ALTER TABLE [dbo].[CHITIETPHIEUNHAPTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAPTHUOC_PHIEUNHAP] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEUNHAP])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETPHIEUNHAPTHUOC_PHIEUNHAP]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUNHAPTHUOC]'))
ALTER TABLE [dbo].[CHITIETPHIEUNHAPTHUOC] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAPTHUOC_PHIEUNHAP]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETPHIEUNHAPTHUOC_THUOC]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUNHAPTHUOC]'))
ALTER TABLE [dbo].[CHITIETPHIEUNHAPTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAPTHUOC_THUOC] FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[THUOC] ([MATHUOC])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CHITIETPHIEUNHAPTHUOC_THUOC]') AND parent_object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUNHAPTHUOC]'))
ALTER TABLE [dbo].[CHITIETPHIEUNHAPTHUOC] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAPTHUOC_THUOC]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DICHVUCLS_PHIEUKHAM]') AND parent_object_id = OBJECT_ID(N'[dbo].[DICHVUCLS]'))
ALTER TABLE [dbo].[DICHVUCLS]  WITH CHECK ADD  CONSTRAINT [FK_DICHVUCLS_PHIEUKHAM] FOREIGN KEY([MAPHIEUKHAM])
REFERENCES [dbo].[PHIEUKHAM] ([MAPHIEUKHAM])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DICHVUCLS_PHIEUKHAM]') AND parent_object_id = OBJECT_ID(N'[dbo].[DICHVUCLS]'))
ALTER TABLE [dbo].[DICHVUCLS] CHECK CONSTRAINT [FK_DICHVUCLS_PHIEUKHAM]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DONTHUOC_MAPHIEUKHAM_FK]') AND parent_object_id = OBJECT_ID(N'[dbo].[DONTHUOC]'))
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD  CONSTRAINT [DONTHUOC_MAPHIEUKHAM_FK] FOREIGN KEY([MAPHIEUKHAM])
REFERENCES [dbo].[PHIEUKHAM] ([MAPHIEUKHAM])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DONTHUOC_MAPHIEUKHAM_FK]') AND parent_object_id = OBJECT_ID(N'[dbo].[DONTHUOC]'))
ALTER TABLE [dbo].[DONTHUOC] CHECK CONSTRAINT [DONTHUOC_MAPHIEUKHAM_FK]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HANGSANXUAT_QUOCGIA]') AND parent_object_id = OBJECT_ID(N'[dbo].[HANGSANXUAT]'))
ALTER TABLE [dbo].[HANGSANXUAT]  WITH CHECK ADD  CONSTRAINT [FK_HANGSANXUAT_QUOCGIA] FOREIGN KEY([MAQUOCGIA])
REFERENCES [dbo].[QUOCGIA] ([MAQUOCGIA])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HANGSANXUAT_QUOCGIA]') AND parent_object_id = OBJECT_ID(N'[dbo].[HANGSANXUAT]'))
ALTER TABLE [dbo].[HANGSANXUAT] CHECK CONSTRAINT [FK_HANGSANXUAT_QUOCGIA]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HOADON_PHIEUKHAM]') AND parent_object_id = OBJECT_ID(N'[dbo].[HOADON]'))
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_PHIEUKHAM] FOREIGN KEY([MAPHIEUKHAM])
REFERENCES [dbo].[PHIEUKHAM] ([MAPHIEUKHAM])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HOADON_PHIEUKHAM]') AND parent_object_id = OBJECT_ID(N'[dbo].[HOADON]'))
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_PHIEUKHAM]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHACUNGCAP_QUOCGIA]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHACUNGCAP]'))
ALTER TABLE [dbo].[NHACUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_NHACUNGCAP_QUOCGIA] FOREIGN KEY([MAQUOCGIA])
REFERENCES [dbo].[QUOCGIA] ([MAQUOCGIA])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHACUNGCAP_QUOCGIA]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHACUNGCAP]'))
ALTER TABLE [dbo].[NHACUNGCAP] CHECK CONSTRAINT [FK_NHACUNGCAP_QUOCGIA]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHANVIEN_CHUCDANH]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHANVIEN]'))
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCDANH] FOREIGN KEY([MACHUCDANH])
REFERENCES [dbo].[CHUCDANH] ([MACHUCDANH])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHANVIEN_CHUCDANH]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHANVIEN]'))
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCDANH]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHANVIEN_CHUCVU]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHANVIEN]'))
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MACHUCVU])
REFERENCES [dbo].[CHUCVU] ([MACHUCVU])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHANVIEN_CHUCVU]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHANVIEN]'))
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHANVIEN_KHOA]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHANVIEN]'))
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NHANVIEN_KHOA]') AND parent_object_id = OBJECT_ID(N'[dbo].[NHANVIEN]'))
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_KHOA]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUKHAM_BENHNHAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUKHAM]'))
ALTER TABLE [dbo].[PHIEUKHAM]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUKHAM_BENHNHAN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUKHAM_BENHNHAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUKHAM]'))
ALTER TABLE [dbo].[PHIEUKHAM] CHECK CONSTRAINT [FK_PHIEUKHAM_BENHNHAN]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUKHAM_HINHTHUCKHAM]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUKHAM]'))
ALTER TABLE [dbo].[PHIEUKHAM]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUKHAM_HINHTHUCKHAM] FOREIGN KEY([MAHINHTHUCKHAM])
REFERENCES [dbo].[HINHTHUCKHAM] ([MAHINHTHUCKHAM])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUKHAM_HINHTHUCKHAM]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUKHAM]'))
ALTER TABLE [dbo].[PHIEUKHAM] CHECK CONSTRAINT [FK_PHIEUKHAM_HINHTHUCKHAM]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUKHAM_NHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUKHAM]'))
ALTER TABLE [dbo].[PHIEUKHAM]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUKHAM_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUKHAM_NHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUKHAM]'))
ALTER TABLE [dbo].[PHIEUKHAM] CHECK CONSTRAINT [FK_PHIEUKHAM_NHANVIEN]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUNHAP_NHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUNHAP]'))
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHIEUNHAP_NHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHIEUNHAP]'))
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TAIKHOAN_NHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[TAIKHOAN]'))
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TAIKHOAN_NHANVIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[TAIKHOAN]'))
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TAIKHOAN_PHANQUYEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[TAIKHOAN]'))
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_PHANQUYEN] FOREIGN KEY([MAPHANQUYEN])
REFERENCES [dbo].[PHANQUYEN] ([MAPHANQUYEN])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TAIKHOAN_PHANQUYEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[TAIKHOAN]'))
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_PHANQUYEN]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[THUOC_DONVITINH_FK]') AND parent_object_id = OBJECT_ID(N'[dbo].[THUOC]'))
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [THUOC_DONVITINH_FK] FOREIGN KEY([DONVITINH])
REFERENCES [dbo].[DONVITINH] ([MADVT])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[THUOC_DONVITINH_FK]') AND parent_object_id = OBJECT_ID(N'[dbo].[THUOC]'))
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [THUOC_DONVITINH_FK]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[THUOC_LOAITHUOC_FK]') AND parent_object_id = OBJECT_ID(N'[dbo].[THUOC]'))
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [THUOC_LOAITHUOC_FK] FOREIGN KEY([LOAITHUOC])
REFERENCES [dbo].[LOAITHUOC] ([MALOAITHUOC])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[THUOC_LOAITHUOC_FK]') AND parent_object_id = OBJECT_ID(N'[dbo].[THUOC]'))
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [THUOC_LOAITHUOC_FK]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VATTUYTE_DONVITINH]') AND parent_object_id = OBJECT_ID(N'[dbo].[VATTUYTE]'))
ALTER TABLE [dbo].[VATTUYTE]  WITH CHECK ADD  CONSTRAINT [FK_VATTUYTE_DONVITINH] FOREIGN KEY([MADVT])
REFERENCES [dbo].[DONVITINH] ([MADVT])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VATTUYTE_DONVITINH]') AND parent_object_id = OBJECT_ID(N'[dbo].[VATTUYTE]'))
ALTER TABLE [dbo].[VATTUYTE] CHECK CONSTRAINT [FK_VATTUYTE_DONVITINH]
GO
/****** Object:  StoredProcedure [dbo].[InsertPhieuKham]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertPhieuKham]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertPhieuKham] AS' 
END
GO




-- code cho phần thêm phiếu khám, hủy phiếu khám, và cập nhật phiếu khám


ALTER PROC [dbo].[InsertPhieuKham]
		 @MABN  INT,
         @MANV  INT,
		 @NVTIEPNHAN INT,
         @CHUANDOAN  nvarchar(250),
         @MAHINHTHUCKHAM  INT
AS
BEGIN
INSERT INTO dbo.PHIEUKHAM
        ( MABN,
          MANV,
		  NVTIEPNHAN,
          CHUANDOAN ,
          MAHINHTHUCKHAM 
		 )
VALUES  ( @MABN , -- MABN - int
          @MANV , -- MANV - int
		  @NVTIEPNHAN,
          @CHUANDOAN , -- CHUANDOAN - nvarchar(250)
          @MAHINHTHUCKHAM 
		 )
END


GO
/****** Object:  StoredProcedure [dbo].[SP_DanhSachBenhNhan]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_DanhSachBenhNhan]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_DanhSachBenhNhan] AS' 
END
GO
ALTER  PROC [dbo].[SP_DanhSachBenhNhan]
AS
BEGIN
	SELECT	*
	FROM dbo.BENHNHAN
END


GO
/****** Object:  StoredProcedure [dbo].[SP_DanhSachChiTietDonThuoc]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_DanhSachChiTietDonThuoc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_DanhSachChiTietDonThuoc] AS' 
END
GO
ALTER proc [dbo].[SP_DanhSachChiTietDonThuoc] 
@MAPHIEU INT
AS 
BEGIN TRAN
SELECT CTDT.MATHUOC, TENTHUOC, SOLUONG, HUONGDAN
FROM CHITIETDONTHUOC CTDT, THUOC T, DONTHUOC DT
WHERE CTDT.MATHUOC = T.MATHUOC AND DT.MADONTHUOC = CTDT.MADONTHUOC AND DT.MAPHIEUKHAM = @MAPHIEU
COMMIT TRAN


GO
/****** Object:  StoredProcedure [dbo].[SP_DanhSachHinhThucKham]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_DanhSachHinhThucKham]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_DanhSachHinhThucKham] AS' 
END
GO
 

 

 --sp danh sach hinh thuc kham
 ALTER PROC [dbo].[SP_DanhSachHinhThucKham]
 AS
 BEGIN
	SELECT * FROM dbo.HINHTHUCKHAM
 END


GO
/****** Object:  StoredProcedure [dbo].[SP_DanhSachKham_fKhamBenNhan]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_DanhSachKham_fKhamBenNhan]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_DanhSachKham_fKhamBenNhan] AS' 
END
GO


 


 
ALTER PROC [dbo].[SP_DanhSachKham_fKhamBenNhan]
 @NgayKham DATE
AS
BEGIN
		SELECT	P.MAPHIEUKHAM,B.MABN,B.HOTEN,B.SOCMND,B.SODT, P.KETLUAN,convert(varchar, B.NGAYSINH, 103) AS NGAYSINH,		 
				B.GIOITINH, B.DIACHI,H.TENHINHTHUCKHAM, P.CHUANDOAN, N.HOTEN AS 'BACSI'
		FROM dbo.PHIEUKHAM P JOIN dbo.BENHNHAN B ON B.MABN = P.MABN JOIN dbo.NHANVIEN N ON N.MANV = P.MANV 
		JOIN dbo.HINHTHUCKHAM H ON H.MAHINHTHUCKHAM = P.MAHINHTHUCKHAM
		WHERE P.NGAYKHAM = @NgayKham AND P.HOANTHANH = 0
END 


GO
/****** Object:  StoredProcedure [dbo].[SP_DanhSachNhanVien]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_DanhSachNhanVien]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_DanhSachNhanVien] AS' 
END
GO


    



 

 -- sp danhsach nhanvien
 ALTER PROC [dbo].[SP_DanhSachNhanVien]
 AS
 BEGIN
	SELECT * FROM dbo.NHANVIEN
 END


GO
/****** Object:  StoredProcedure [dbo].[SP_Getbyid_CLS]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_Getbyid_CLS]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_Getbyid_CLS] AS' 
END
GO
ALTER proc [dbo].[SP_Getbyid_CLS]
	@macls int
AS
begin
	select b.MACLS, b.TENCLS, b.GIATIEN, b.MALOAICLS from CANLAMSANG b, LOAICANLAMSANG a
		where b.MALOAICLS = a.MALOAICLS and a.MALOAICLS = @macls

end



GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_ChiTietDonThuoc]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_Insert_ChiTietDonThuoc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_Insert_ChiTietDonThuoc] AS' 
END
GO
ALTER proc [dbo].[SP_Insert_ChiTietDonThuoc] 
@MAPHIEUKHAM INT,
@MATHUOC INT,
@SOLUONG INT,
@HUONGDAN TEXT
as
SET TRANSACTION ISOLATION LEVEL REPEATABLE READ 
begin TRAN
BEGIN TRY
declare @MADONTHUOC INT
set @MADONTHUOC = 0
SELECT @MADONTHUOC = MADONTHUOC from DONTHUOC DT where DT.MAPHIEUKHAM = @MAPHIEUKHAM
if not exists (select * from THUOC where MATHUOC = @MATHUOC)
	begin
	delete from CHITIETDONTHUOC where MADONTHUOC = @MADONTHUOC
	WAITFOR DELAY '00:00:00:50'
	COMMIT TRAN
	return 
	end
if not exists (select * from PHIEUKHAM where MAPHIEUKHAM = @MAPHIEUKHAM)
	begin
	delete from CHITIETDONTHUOC where MADONTHUOC = @MADONTHUOC
	WAITFOR DELAY '00:00:00:50'
	COMMIT TRAN
	return
	end
if(@MADONTHUOC=0)
	begin
	delete from CHITIETDONTHUOC where MADONTHUOC = @MADONTHUOC
	WAITFOR DELAY '00:00:00:50'
	COMMIT TRAN
	return
	end
if exists(select * from CHITIETDONTHUOC where MADONTHUOC = @MADONTHUOC and MATHUOC = @MATHUOC)
	begin
	update CHITIETDONTHUOC set SOLUONG =@SOLUONG , HUONGDAN = @HUONGDAN WHERE MADONTHUOC = @MADONTHUOC AND MATHUOC = @MATHUOC
	WAITFOR DELAY '00:00:00:50'
	COMMIT TRAN
	return
	end
else 
	begin
	INSERT INTO CHITIETDONTHUOC VALUES(@MADONTHUOC,@MATHUOC,@SOLUONG,@HUONGDAN)
	end
if not exists(select * from CHITIETDONTHUOC where MADONTHUOC = @MADONTHUOC and MATHUOC = @MATHUOC)
	begin
	delete from CHITIETDONTHUOC where MADONTHUOC = @MADONTHUOC
	end

END TRY
BEGIN CATCH
	delete from CHITIETDONTHUOC where MADONTHUOC = @MADONTHUOC
	WAITFOR DELAY '00:00:00:50'
	COMMIT TRAN
	return
END CATCH
WAITFOR DELAY '00:00:00:50'
COMMIT TRAN


GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DICHVUCLS]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_INSERT_DICHVUCLS]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_INSERT_DICHVUCLS] AS' 
END
GO
ALTER PROC [dbo].[SP_INSERT_DICHVUCLS]
	@maphieu varchar(50),
	@macls varchar(50),
	@duongdan varchar(50)
AS
BEGIN
	DECLARE @madichvucls int
	SET @madichvucls = (SELECT MADICHVUCLS FROM DICHVUCLS WHERE MAPHIEUKHAM = @maphieu)
	if(EXISTS (SELECT * FROM CHITIETCLS WHERE MADICHVUCLS = @madichvucls and MACLS = @macls))
		begin
		return -1;
		end
	INSERT INTO CHITIETCLS VALUES (@madichvucls, @macls, @duongdan)


END

GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_DonThuoc]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_Insert_DonThuoc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_Insert_DonThuoc] AS' 
END
GO
ALTER PROC [dbo].[SP_Insert_DonThuoc]
@MAPHIEUKHAM int
AS
SET TRANSACTION ISOLATION LEVEL REPEATABLE READ 
begin TRAN

	IF NOT EXISTS (SELECT * FROM PHIEUKHAM WHERE MAPHIEUKHAM = @MAPHIEUKHAM)
	begin
		COMMIT TRAN
		RETURN
	end

	IF NOT EXISTS (SELECT * FROM DONTHUOC WHERE MAPHIEUKHAM = @MAPHIEUKHAM) 
		BEGIN
			INSERT INTO DONTHUOC(MAPHIEUKHAM) VALUES(@MAPHIEUKHAM)
		END
	DELETE FROM CHITIETDONTHUOC WHERE MADONTHUOC = (SELECT MADONTHUOC FROM DONTHUOC WHERE MAPHIEUKHAM = @MAPHIEUKHAM)
	WAITFOR DELAY '00:00:00:50'
COMMIT TRAN



GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_PHANQUYEN]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_INSERT_PHANQUYEN]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_INSERT_PHANQUYEN] AS' 
END
GO

-------------------STORE-PROCEDURE----------------------------------------

--1. Bảng PHANQUYEN
--1.1 SP_INSERT_PHANQUYEN
ALTER PROC [dbo].[SP_INSERT_PHANQUYEN]
@QUYEN INT,
@GHICHU NVARCHAR(250)
AS
BEGIN
	INSERT dbo.PHANQUYEN
	        ( QUYEN, GHICHU )
	VALUES  ( @QUYEN, -- QUYEN - int
	          @GHICHU  -- GHICHU - nvarchar(250)
	          )
END


GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_TAIKHOAN]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_INSERT_TAIKHOAN]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_INSERT_TAIKHOAN] AS' 
END
GO



--2. BẢNG TAIKHOAN
--2.1 SPINSERT_TAIKHOAN
ALTER PROC [dbo].[SP_INSERT_TAIKHOAN]
	@TENDANGNHAP VARCHAR(50),
	@MATKHAU VARCHAR(50),
	@TENHIENTHI NVARCHAR(50),
	@MAPHANQUYEN int,
	@TRANGTHAI BIT
AS
BEGIN
	INSERT dbo.TAIKHOAN 
	        ( TENDANGNHAP ,
	          MATKHAU ,
	          TENHIENTHI ,
	          MAPHANQUYEN ,
	          TRANGTHAI
	        )
	VALUES  ( @TENDANGNHAP , -- TENDANGNHAP - varchar(50)
	          @MATKHAU , -- MATKHAU - varchar(50)
	          @TENHIENTHI , -- TENHIENTHI - nvarchar(50)
	          @MAPHANQUYEN , -- MAPHANQUYEN - int
	          @TRANGTHAI  -- TRANGTHAI - bit
	        )
END


GO
/****** Object:  StoredProcedure [dbo].[SP_InsertBenhNhan]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_InsertBenhNhan]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_InsertBenhNhan] AS' 
END
GO
 
 

 



 --- sp them benh nhan

 
 ALTER PROC [dbo].[SP_InsertBenhNhan]
	@HOTEN nvarchar(50),
	@GIOITINH  BIT,
	@NGAYSINH  DATE,
	@DANTOC  nvarchar(50),
	@SOCMND  nvarchar(20),
	@DIACHI  nvarchar(250),
	@SODT  varchar(20),
	@TIENSU  nvarchar(250)
 AS
 BEGIN
	INSERT INTO dbo.BENHNHAN
	        ( HOTEN ,
	          GIOITINH ,
	          NGAYSINH ,
	          DANTOC ,
	          SOCMND ,
	          DIACHI ,
	          SODT ,
	          TIENSU
	        )
	VALUES  ( @HOTEN ,  @GIOITINH ,  @NGAYSINH ,   @DANTOC , @SOCMND ,  @DIACHI , @SODT ,  @TIENSU )
 END


GO
/****** Object:  StoredProcedure [dbo].[SP_InsertThuoc]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_InsertThuoc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_InsertThuoc] AS' 
END
GO
ALTER proc [dbo].[SP_InsertThuoc]
	@maphieukham nvarchar(100),
	@mathuoc int,
	@soluong int,
	@huongdan nvarchar(100)
AS
begin
	if(EXISTS (select * from DONTHUOC where MADONTHUOC = @maphieukham) and EXISTS (select * from THUOC where MATHUOC = @mathuoc))
		begin
			declare @slton int
			set @slton = (select SOLUONGTON from THUOC where MATHUOC = @mathuoc)
				if(@slton - @soluong > 39) 
					begin
						INSERT INTO CHITIETDONTHUOC values (@maphieukham, @mathuoc, @soluong, @huongdan)
					end
		end
end


GO
/****** Object:  StoredProcedure [dbo].[SP_LayKetQuaCLS]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_LayKetQuaCLS]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_LayKetQuaCLS] AS' 
END
GO
ALTER proc [dbo].[SP_LayKetQuaCLS]
	@maphieu int,
	@macls int
AS
begin
	if(EXISTS (select * from CHITIETCLS where MADICHVUCLS = @maphieu and MACLS = @macls))
		begin
			select * from CHITIETCLS where MADICHVUCLS = @maphieu and MACLS = @macls
		end
end

GO
/****** Object:  StoredProcedure [dbo].[SP_LichSuKham]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_LichSuKham]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_LichSuKham] AS' 
END
GO
ALTER proc [dbo].[SP_LichSuKham] 
@MABN int
as
begin TRAN

select pk.MAPHIEUKHAM, pk.NGAYKHAM, pk.CHUANDOAN, pk.KETLUAN
from PHIEUKHAM PK, BENHNHAN BN
where pk.MABN = bn.MABN and pk.MABN = @MABN

COMMIT TRAN



GO
/****** Object:  StoredProcedure [dbo].[SP_LichSuKhamNhanVien]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_LichSuKhamNhanVien]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_LichSuKhamNhanVien] AS' 
END
GO
ALTER proc [dbo].[SP_LichSuKhamNhanVien] 
@MaNhanVien int
as
begin TRAN
select BN.MABN, PK.MAPHIEUKHAM, BN.HOTEN, PK.NGAYKHAM,PK.DATHANHTOAN from (BENHNHAN BN inner join PHIEUKHAM PK on BN.MABN = PK.MABN) where PK.HOANTHANH =1 AND PK.MANV = @MaNhanVien
COMMIT TRAN


GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_LOGIN]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_LOGIN] AS' 
END
GO
ALTER PROC [dbo].[SP_LOGIN]
	@TenDangNhap VARCHAR(50),
	@MatKhau VARCHAR(50)
AS
BEGIN
	--SELECT dbo.FN_Login(@TenDangNhap,@MatKhau)
	SELECT T.MANV,  P.QUYEN 
	FROM TAIKHOAN T JOIN PHANQUYEN P ON T.MAPHANQUYEN = P.MAPHANQUYEN 
	WHERE T.TENDANGNHAP = @TENDANGNHAP AND T.MATKHAU = @MatKhau AND T.TRANGTHAI = 1 
END


GO
/****** Object:  StoredProcedure [dbo].[SP_Search_All_Phieukham_BenhNhan]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_Search_All_Phieukham_BenhNhan]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_Search_All_Phieukham_BenhNhan] AS' 
END
GO
ALTER PROC [dbo].[SP_Search_All_Phieukham_BenhNhan]
AS
BEGIN TRAN
SELECT PK.MAPHIEUKHAM,PK.MABN, PK.MANV, PK.CHUANDOAN, PK.MAHINHTHUCKHAM, PK.NHIPTIM, PK.NHIETDO, PK.HUYETAP, PK.CANNANG, PK.CHIEUCAO, PK.MAICD, PK.NGAYKHAM, PK.HOANTHANH, PK.DATHANHTOAN, PK.KETLUAN, BN.TIENSU FROM PHIEUKHAM PK, BENHNHAN BN WHERE PK.MABN = BN.MABN
COMMIT TRAN



GO
/****** Object:  StoredProcedure [dbo].[SP_Search_Phieukham_By_Id]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_Search_Phieukham_By_Id]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_Search_Phieukham_By_Id] AS' 
END
GO
ALTER PROC [dbo].[SP_Search_Phieukham_By_Id]
@ID INT
AS
BEGIN 
SELECT PK.MAPHIEUKHAM,PK.MABN, PK.MANV, PK.CHUANDOAN, PK.MAHINHTHUCKHAM, PK.NHIPTIM, PK.NHIETDO, PK.HUYETAP, PK.CANNANG, PK.CHIEUCAO, PK.MAICD, PK.NGAYKHAM, PK.HOANTHANH, PK.DATHANHTOAN, PK.KETLUAN, BN.TIENSU FROM PHIEUKHAM PK, BENHNHAN BN WHERE PK.MABN = BN.MABN AND MAPHIEUKHAM  = @ID
END



GO
/****** Object:  StoredProcedure [dbo].[SP_Search_Phieukham_By_Ten]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_Search_Phieukham_By_Ten]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_Search_Phieukham_By_Ten] AS' 
END
GO
ALTER PROC [dbo].[SP_Search_Phieukham_By_Ten]
@TEN NVARCHAR (50),
@MANV int
AS
BEGIN TRAN
IF NOT EXISTS(SELECT * FROM NHANVIEN WHERE MANV = @MANV)
BEGIN
COMMIT TRAN
RETURN 
END
ELSE
BEGIN
SELECT MAPHIEUKHAM,HOTEN,NGAYKHAM,HOANTHANH FROM PHIEUKHAM, BENHNHAN WHERE PHIEUKHAM.MABN = BENHNHAN.MABN AND BENHNHAN.HOTEN LIKE '%'+@TEN+'%' AND MANV = @MANV
END
COMMIT TRAN



GO
/****** Object:  StoredProcedure [dbo].[SP_Select_Phieukham_All]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_Select_Phieukham_All]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_Select_Phieukham_All] AS' 
END
GO
ALTER PROC [dbo].[SP_Select_Phieukham_All]
@MANV int
AS
BEGIN TRAN
IF NOT EXISTS(SELECT * FROM NHANVIEN WHERE MANV = @MANV)
BEGIN 
COMMIT TRAN
RETURN 
END
ELSE
BEGIN
SELECT MAPHIEUKHAM,HOTEN,NGAYKHAM,HOANTHANH FROM PHIEUKHAM, BENHNHAN WHERE PHIEUKHAM.MABN = BENHNHAN.MABN AND MANV = @MANV
END 
COMMIT TRAN



GO
/****** Object:  StoredProcedure [dbo].[SP_Select_Phieukham_Chokham]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_Select_Phieukham_Chokham]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_Select_Phieukham_Chokham] AS' 
END
GO
ALTER PROC [dbo].[SP_Select_Phieukham_Chokham]
@MANV int,
@NGKHAM nvarchar (20) 
AS
BEGIN TRAN
IF(ISDATE(@NGKHAM)=0)
BEGIN
COMMIT TRAN
RETURN
END
IF NOT EXISTS(SELECT * FROM NHANVIEN WHERE MANV = @MANV)
BEGIN
COMMIT TRAN
RETURN 
END
ELSE
BEGIN
SELECT PHIEUKHAM.MAPHIEUKHAM, BENHNHAN.HOTEN, PHIEUKHAM.NGAYKHAM FROM PHIEUKHAM, BENHNHAN WHERE PHIEUKHAM.MABN = BENHNHAN.MABN AND HOANTHANH = 0 AND MANV = @MANV AND NGAYKHAM = @NGKHAM
END
COMMIT TRAN




GO
/****** Object:  StoredProcedure [dbo].[SP_TimKiemBenhNhan_fTIepNhanBenhNhan]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_TimKiemBenhNhan_fTIepNhanBenhNhan]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_TimKiemBenhNhan_fTIepNhanBenhNhan] AS' 
END
GO




 
-- 3.2 SP_TimKiemBenhNhan
ALTER PROC [dbo].[SP_TimKiemBenhNhan_fTIepNhanBenhNhan]
	@TruongDuLieu VARCHAR(20),
	@ThongTin NVARCHAR(250)
 AS
 BEGIN 

	IF @TruongDuLieu = 'HOTEN'  SELECT * FROM dbo.BENHNHAN WHERE  HOTEN LIKE '%'+@ThongTin+'%'; 
	IF @TruongDuLieu = 'MABN'  SELECT * FROM dbo.BENHNHAN WHERE  MABN LIKE '%'+@ThongTin+'%';
	IF @TruongDuLieu = 'SODT'  SELECT * FROM dbo.BENHNHAN WHERE  SODT LIKE '%'+@ThongTin+'%';
	IF @TruongDuLieu = 'SOCMND'  SELECT * FROM dbo.BENHNHAN WHERE  SOCMND LIKE '%'+@ThongTin+'%';
	IF @TruongDuLieu = '*' SELECT * FROM dbo.BENHNHAN;
 END


GO
/****** Object:  StoredProcedure [dbo].[SP_TimKiemLichSuKhamNhanVien]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_TimKiemLichSuKhamNhanVien]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_TimKiemLichSuKhamNhanVien] AS' 
END
GO
ALTER proc [dbo].[SP_TimKiemLichSuKhamNhanVien] 
@ThongTin nvarchar(20),
@DuLieu nvarchar (50),
@MaNhanVien int
as 
begin TRAN
	IF NOT EXISTS(SELECT * FROM NHANVIEN WHERE MANV = @MaNhanVien)
	BEGIN
	COMMIT TRAN
	RETURN 
	END
	ELSE
	BEGIN
	IF @ThongTin = 'MAPHIEUKHAM' select BN.MABN, PK.MAPHIEUKHAM, BN.HOTEN, PK.NGAYKHAM,PK.DATHANHTOAN from BENHNHAN BN, PHIEUKHAM PK where BN.MABN = PK.MABN AND PK.MANV = @MaNhanVien AND PK.HOANTHANH =1 AND MAPHIEUKHAM = @DuLieu;
	IF @ThongTin = 'MABN'	     select BN.MABN, PK.MAPHIEUKHAM, BN.HOTEN, PK.NGAYKHAM,PK.DATHANHTOAN from BENHNHAN BN, PHIEUKHAM PK where BN.MABN = PK.MABN AND PK.MANV = @MaNhanVien  AND PK.HOANTHANH =1 AND PK.MABN = @DuLieu;
	IF @ThongTin = 'HOTEN'		 select BN.MABN, PK.MAPHIEUKHAM, BN.HOTEN, PK.NGAYKHAM,PK.DATHANHTOAN from BENHNHAN BN inner join PHIEUKHAM PK on BN.MABN = PK.MABN where PK.MANV = @MaNhanVien AND PK.HOANTHANH =1 AND  BN.HOTEN LIKE '%'+@DuLieu+'%';
	IF @ThongTin = 'NGAYKHAM'	 select BN.MABN, PK.MAPHIEUKHAM, BN.HOTEN, PK.NGAYKHAM,PK.DATHANHTOAN from BENHNHAN BN, PHIEUKHAM PK where BN.MABN = PK.MABN AND PK.MANV = @MaNhanVien AND PK.HOANTHANH =1  AND NGAYKHAM LIKE '%'+@DuLieu+'%';
	END
COMMIT TRAN


GO
/****** Object:  StoredProcedure [dbo].[SP_timkiemthuoc]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_timkiemthuoc]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_timkiemthuoc] AS' 
END
GO
---- tìm kiếm thuốc
ALTER proc [dbo].[SP_timkiemthuoc]

	@timkiem nvarchar(50),
	@timtheo int,
	@loaithuoc int
AS
begin
	declare @donvitinh nvarchar(10)
	declare @tenloaithuoc nvarchar(50)

	if(@timtheo = 0)
		begin 
					if(@loaithuoc = 0)
						begin
							select MATHUOC, TENTHUOC, DVT.TENDVT, LT.TENLOAI, SOLUONGTON from THUOC T, DONVITINH DVT, LOAITHUOC LT where T.DONVITINH = DVT.MADVT and T.LOAITHUOC = LT.MALOAITHUOC and MATHUOC = @timkiem
						end
					if(@loaithuoc != 0 )
						begin
							select MATHUOC, TENTHUOC, DVT.TENDVT, LT.TENLOAI, SOLUONGTON from THUOC T, DONVITINH DVT, LOAITHUOC LT where T.DONVITINH = DVT.MADVT and T.LOAITHUOC = LT.MALOAITHUOC and MATHUOC = @timkiem and LOAITHUOC = @loaithuoc
						end
		end
	if(@timtheo = 1)
		begin
			if(@loaithuoc = 0)
				begin
					select MATHUOC, TENTHUOC, DVT.TENDVT, LT.TENLOAI, SOLUONGTON from THUOC T, DONVITINH DVT, LOAITHUOC LT where T.DONVITINH = DVT.MADVT and T.LOAITHUOC = LT.MALOAITHUOC and TENTHUOC LIKE N'%' +@timkiem+ '%'
				end
			if(@loaithuoc != 0 )
				begin
					select MATHUOC, TENTHUOC, DVT.TENDVT, LT.TENLOAI, SOLUONGTON from THUOC T, DONVITINH DVT, LOAITHUOC LT where T.DONVITINH = DVT.MADVT and T.LOAITHUOC = LT.MALOAITHUOC and TENTHUOC LIKE N'%' +@timkiem+ '%' and LOAITHUOC = @loaithuoc
				end

		end
	if(@timtheo = -1)
		begin
			select MATHUOC, TENTHUOC, DVT.TENDVT, LT.TENLOAI, SOLUONGTON from THUOC T, DONVITINH DVT, LOAITHUOC LT where T.DONVITINH = DVT.MADVT and T.LOAITHUOC = LT.MALOAITHUOC
		end
end



GO
/****** Object:  StoredProcedure [dbo].[SP_Update_HoanThanhPhieuKham]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_Update_HoanThanhPhieuKham]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_Update_HoanThanhPhieuKham] AS' 
END
GO
ALTER proc [dbo].[SP_Update_HoanThanhPhieuKham] 
@MAPHIEU int
as
SET TRANSACTION ISOLATION LEVEL REPEATABLE READ
begin TRAN
BEGIN TRY
IF NOT EXISTS(SELECT * FROM PHIEUKHAM WHERE MAPHIEUKHAM = @MAPHIEU)
RETURN 
ELSE
update PHIEUKHAM set HOANTHANH = 1 where MAPHIEUKHAM = @MAPHIEU
END TRY
BEGIN CATCH
	ROLLBACK TRAN
END CATCH
WAITFOR DELAY '00:00:00:50'
COMMIT TRAN


GO
/****** Object:  StoredProcedure [dbo].[SP_Update_Phieukham]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_Update_Phieukham]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_Update_Phieukham] AS' 
END
GO
ALTER PROC [dbo].[SP_Update_Phieukham]
@MAPHIEUKHAM INT,
@MABN INT,
@CHUANDOAN NVARCHAR(250),
@NHIPTIM NVARCHAR (10),
@NHIETDO NVARCHAR (10),
@HUYETAP NVARCHAR (10),
@CANNANG INT,
@CHIEUCAO INT,
@MAICD NVARCHAR(10),
@NGAYKHAM DATE,
@KETLUAN NVARCHAR(50),
@TIENSU NVARCHAR(250)
AS
SET TRANSACTION ISOLATION LEVEL REPEATABLE READ
BEGIN TRAN 
BEGIN TRY
IF NOT EXISTS (SELECT * FROM PHIEUKHAM WHERE MAPHIEUKHAM = @MAPHIEUKHAM)
BEGIN
	COMMIT TRAN
	RETURN
END 
IF NOT EXISTS (SELECT * FROM BENHNHAN WHERE MABN = @MABN )
BEGIN
	COMMIT TRAN
	RETURN
END
ELSE
BEGIN
UPDATE PHIEUKHAM SET 
MABN = @MABN,
CHUANDOAN = N''+ @CHUANDOAN +'',
NHIPTIM = @NHIPTIM,
NHIETDO = @NHIETDO,
HUYETAP = @HUYETAP,
CANNANG = @CANNANG,
CHIEUCAO = @CHIEUCAO,
MAICD = @MAICD,
NGAYKHAM = @NGAYKHAM,
KETLUAN = @KETLUAN
WHERE MAPHIEUKHAM = @MAPHIEUKHAM
UPDATE BENHNHAN SET TIENSU = @TIENSU where BENHNHAN.MABN = @MABN 
END
END TRY 
	BEGIN CATCH
		ROLLBACK TRAN
	END CATCH
WAITFOR DELAY '00:00:00:50'
COMMIT TRAN



GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateBenhNhan]    Script Date: 12/20/2017 3:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_UpdateBenhNhan]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SP_UpdateBenhNhan] AS' 
END
GO
 

 





 -- SP_UPDATE_BENHNHAN

ALTER PROC [dbo].[SP_UpdateBenhNhan]
	@MABN INT,
	@HOTEN NVARCHAR(50),
	@GIOITINH BIT,
	@NGAYSINH DATE,
	@DANTOC NVARCHAR(50),
	@SOCMND NVARCHAR(20),
	@DIACHI NVARCHAR(250),
	@SODT VARCHAR(20),
	@TIENSU NVARCHAR(250)
AS
BEGIN
	UPDATE  dbo.BENHNHAN  SET   HOTEN = @HOTEN , GIOITINH = @GIOITINH, NGAYSINH = @NGAYSINH,  DANTOC = @DANTOC,
								SOCMND = @SOCMND, DIACHI = @DIACHI , SODT = @SODT , TIENSU = @TIENSU
	    
				WHERE MABN = @MABN
				
END


GO
USE [master]
GO
