USE [quanlyphongkham_final]
GO

-------------------- THÊM CẬN LÂM SÀNG VÀO CHI TIẾT CẬN LÂM SÀNG
GO
DROP PROC [dbo].[SP_INSERT_DICHVUCLS]
GO
CREATE PROC [dbo].[SP_INSERT_DICHVUCLS]
	@maphieu int,
	@macls INT,
	@duongdan varchar(50)
AS
BEGIN tran 
	DECLARE @madichvucls int
	if not exists (SELECT MADICHVUCLS FROM DICHVUCLS WHERE MAPHIEUKHAM = @maphieu)
		begin 
			insert into DICHVUCLS(MAPHIEUKHAM, TONGCONG) values (@maphieu, 0)
		end
	set  @madichvucls = (select MADICHVUCLS from DICHVUCLS where MAPHIEUKHAM = @maphieu)
	
	if(EXISTS (SELECT * FROM CHITIETCLS WHERE MADICHVUCLS = @madichvucls and MACLS = @macls))
		begin
			commit tran
			return -1;
		end
	else
		begin
			INSERT INTO CHITIETCLS VALUES (@madichvucls, @macls, @duongdan)
		end
commit tran

-------------------- LẤY KẾT QUẢ CẬN LÂM SÀNG
GO
DROP PROC [dbo].[SP_LayKetQuaCLS]

GO
CREATE PROC [dbo].[SP_LayKetQuaCLS]
	@maphieu int,
	@macls INT
AS
BEGIN TRAN
	DECLARE @madichvucls int
	SET @madichvucls = (SELECT MADICHVUCLS FROM DICHVUCLS WHERE MAPHIEUKHAM = @maphieu)

	select * from CHITIETCLS where MADICHVUCLS = @madichvucls and MACLS = @macls

COMMIT TRAN


-------------------- LẤY THÔNG TIN CẬN LÂM SÀNG

GO
DROP proc [dbo].[SP_Getbyid_CLS]

GO
CREATE proc [dbo].[SP_Getbyid_CLS]
	@macls int
AS
	BEGIN TRAN
	select b.MACLS, b.TENCLS, b.GIATIEN, b.MALOAICLS from CANLAMSANG b, LOAICANLAMSANG a
		where b.MALOAICLS = a.MALOAICLS and a.MALOAICLS = @macls
	COMMIT TRAN


--------------------  insert thuốc vào đơn thuốc  - -------- CÓ CŨNG ĐƯỢC KHÔNG CŨNG ĐC

GO
DROP proc [dbo].[SP_InsertThuoc]

GO
CREATE proc [dbo].[SP_InsertThuoc]
	@maphieukham nvarchar(100),
	@mathuoc int,
	@soluong int,
	@huongdan nvarchar(100)
AS
begin
	if(EXISTS (select * from DONTHUOC where MADONTHUOC = @maphieukham) and EXISTS (select * from THUOC where MATHUOC = @mathuoc))
		begin
			declare @slton int
			set @slton = (select SOLUONGTON from THUOC where MATHUOC = @mathuoc)
				if(@slton - @soluong > 39) 
					begin
						INSERT INTO CHITIETDONTHUOC values (@maphieukham, @mathuoc, @soluong, @huongdan)
					end
		end
end


---- tìm kiếm thuốc
GO
DROP proc [dbo].[SP_timkiemthuoc]

GO
CREATE proc [dbo].[SP_timkiemthuoc]

	@timkiem nvarchar(50),
	@timtheo int,
	@loaithuoc int
AS
begin TRAN
	declare @donvitinh nvarchar(10)
	declare @tenloaithuoc nvarchar(50)

	if(@timtheo = 0)
		begin 
					if(@loaithuoc = 0)
						begin
							select MATHUOC, TENTHUOC, DVT.TENDVT, LT.TENLOAI, SOLUONGTON from THUOC T, DONVITINH DVT, LOAITHUOC LT where T.DONVITINH = DVT.MADVT and T.LOAITHUOC = LT.MALOAITHUOC and MATHUOC = @timkiem
						end
					if(@loaithuoc != 0 )
						begin
							select MATHUOC, TENTHUOC, DVT.TENDVT, LT.TENLOAI, SOLUONGTON from THUOC T, DONVITINH DVT, LOAITHUOC LT where T.DONVITINH = DVT.MADVT and T.LOAITHUOC = LT.MALOAITHUOC and MATHUOC = @timkiem and LOAITHUOC = @loaithuoc
						end
		end
	if(@timtheo = 1)
		begin
			if(@loaithuoc = 0)
				begin
					select MATHUOC, TENTHUOC, DVT.TENDVT, LT.TENLOAI, SOLUONGTON from THUOC T, DONVITINH DVT, LOAITHUOC LT where T.DONVITINH = DVT.MADVT and T.LOAITHUOC = LT.MALOAITHUOC and TENTHUOC LIKE N'%' +@timkiem+ '%'
				end
			if(@loaithuoc != 0 )
				begin
					select MATHUOC, TENTHUOC, DVT.TENDVT, LT.TENLOAI, SOLUONGTON from THUOC T, DONVITINH DVT, LOAITHUOC LT where T.DONVITINH = DVT.MADVT and T.LOAITHUOC = LT.MALOAITHUOC and TENTHUOC LIKE N'%' +@timkiem+ '%' and LOAITHUOC = @loaithuoc
				end

		end
	if(@timtheo = -1)
		begin
			select MATHUOC, TENTHUOC, DVT.TENDVT, LT.TENLOAI, SOLUONGTON from THUOC T, DONVITINH DVT, LOAITHUOC LT where T.DONVITINH = DVT.MADVT and T.LOAITHUOC = LT.MALOAITHUOC
		end
COMMIT TRAN


--------------------  LẤY THÔNG TIN CẬN LÂM SÀNG
GO
DROP proc [dbo].[SP_Getbyid_CLS]

GO
CREATE proc [dbo].[SP_Getbyid_CLS]
	@macls int
AS
begin TRAN
	select b.MACLS, b.TENCLS, b.GIATIEN, b.MALOAICLS from CANLAMSANG b, LOAICANLAMSANG a
		where b.MALOAICLS = a.MALOAICLS and a.MALOAICLS = @macls

COMMIT TRAN

GO


----------------------		TRIGGER INSERT THUOC		------------------------------
GO
DROP TRIGGER TG_THUOC_INSERT_T

GO
CREATE TRIGGER TG_THUOC_INSERT_T
ON CHITIETDONTHUOC
FOR INSERT, UPDATE AS
DECLARE @SOLUONGTON INT, @SOLUONG INT, @KQI INT, @SOLUONGI INT, @SOLUONGTONT INT, @SOLUONGU INT, @KQU INT

IF NOT EXISTS (SELECT * FROM inserted I , DONTHUOC DT  WHERE I.MADONTHUOC = DT.MADONTHUOC)
	BEGIN
		ROLLBACK TRAN
		RAISERROR('MÃ ĐƠN THUỐC KHÔNG TỒN TẠI', 16, 1)
		RETURN
	END
IF NOT EXISTS (SELECT * FROM inserted I , THUOC T WHERE I.MATHUOC = T.MATHUOC)
	BEGIN
		ROLLBACK TRAN
		RAISERROR('MÃ THUỐC KHÔNG TỒN TẠI', 16, 1)
		RETURN
	END
-------- LẤY SỐ LƯỢNG TỒN CỦA THUỐC
SELECT @SOLUONGTON = SOLUONGTON FROM THUOC T, inserted I WHERE T.MATHUOC = I.MATHUOC

-------- LẤY SỐ LƯỢNG THUỐC INSRET VÀO
SELECT @SOLUONG = CTDT.SOLUONG FROM inserted I, CHITIETDONTHUOC CTDT WHERE CTDT.MATHUOC = I.MATHUOC AND I.MADONTHUOC = CTDT.MADONTHUOC

-------- KIỂM TRA SỐ LƯỢNG TỒN PHẢI LỚN HƠN SÔ LƯỢNG INSERT LÀ 50 ĐƠN VỊ
IF @SOLUONGTON < @SOLUONG + 50
BEGIN
		RAISERROR('SỐ LƯỢNG THUỐC KHÔNG ĐỦ', 16, 1)
		ROLLBACK TRAN
END
ELSE --- SỐ LƯỢNG TỒN CÒN ĐỦ
BEGIN

-------- CẬP NHẬT LẠI SỐ LƯỢNG TỒN

SET @KQI = @SOLUONGTON - @SOLUONG

-------- NẾU INSERT THÌ CẬP NHẬT LẠI SỐ LƯỢNG TỒN

UPDATE THUOC SET SOLUONGTON = @KQI FROM THUOC T, inserted i WHERE T.MATHUOC = i.MATHUOC

-------- NẾU UPDATE THÌ CẬP NHẬT LẠI SỐ LƯỢNG TỒN

SELECT @SOLUONGTONT = SOLUONGTON FROM THUOC T, deleted d WHERE T.MATHUOC = d.MATHUOC

SELECT @SOLUONGU = CTDT.SOLUONG FROM CHITIETDONTHUOC CTDT, deleted d WHERE CTDT.MADONTHUOC = d.MADONTHUOC

SET @KQU = @SOLUONGTONT + @SOLUONGU

UPDATE THUOC SET SOLUONGTON = @KQU FROM THUOC T, deleted d WHERE T.MATHUOC = d.MATHUOC

END

--UPDATE CHITIETDONTHUOC
--SET MATHUOC = 8, SOLUONG = 30, HUONGDAN = 'NGAY 2 LAN'
--WHERE MADONTHUOC = 2 AND MATHUOC = 5

--INSERT INTO CHITIETDONTHUOC VALUES (2, 6, 20, 'NGAY 2 LAN')
--INSERT INTO CHITIETDONTHUOC VALUES (2, 5, 30, 'NGAY 2 LAN')

--DELETE FROM CHITIETDONTHUOC WHERE MADONTHUOC = 2 AND MATHUOC = 8
--DELETE FROM CHITIETDONTHUOC WHERE MADONTHUOC = 2 AND MATHUOC = 6
--DELETE FROM CHITIETDONTHUOC WHERE MADONTHUOC = 2 AND MATHUOC = 7
--UPDATE THUOC SET SOLUONGTON = 100 WHERE MATHUOC > 0


--SELECT * FROM CHITIETDONTHUOC
--SELECT * FROM THUOC

