USE [quanlyphongkham_final]
GO
/****** Object:  StoredProcedure [dbo].[SP_DanhSachChiTietDonThuoc]    Script Date: 12/9/2017 9:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Drop proc [dbo].[SP_DanhSachChiTietDonThuoc] 
go
CREATE proc [dbo].[SP_DanhSachChiTietDonThuoc] 
@MAPHIEU INT
AS 
BEGIN TRAN
SELECT CTDT.MATHUOC, TENTHUOC, SOLUONG, HUONGDAN
FROM CHITIETDONTHUOC CTDT, THUOC T, DONTHUOC DT
WHERE CTDT.MATHUOC = T.MATHUOC AND DT.MADONTHUOC = CTDT.MADONTHUOC AND DT.MAPHIEUKHAM = @MAPHIEU
COMMIT TRAN
GO

/****** Object:  StoredProcedure [dbo].[SP_Insert_ChiTietDonThuoc]    Script Date: 12/9/2017 9:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Drop proc [dbo].[SP_Insert_ChiTietDonThuoc] 
go
CREATE proc [dbo].[SP_Insert_ChiTietDonThuoc] 
@MAPHIEUKHAM INT,
@MATHUOC INT,
@SOLUONG INT,
@HUONGDAN TEXT
as
SET TRANSACTION ISOLATION LEVEL REPEATABLE READ 
begin TRAN
BEGIN TRY
declare @MADONTHUOC INT
set @MADONTHUOC = 0
SELECT @MADONTHUOC = MADONTHUOC from DONTHUOC DT where DT.MAPHIEUKHAM = @MAPHIEUKHAM
if not exists (select * from THUOC where MATHUOC = @MATHUOC)
	begin
	delete from CHITIETDONTHUOC where MADONTHUOC = @MADONTHUOC
	WAITFOR DELAY '00:00:00:50'
	COMMIT TRAN
	return 
	end
if not exists (select * from PHIEUKHAM where MAPHIEUKHAM = @MAPHIEUKHAM)
	begin
	delete from CHITIETDONTHUOC where MADONTHUOC = @MADONTHUOC
	WAITFOR DELAY '00:00:00:50'
	COMMIT TRAN
	return
	end
if(@MADONTHUOC=0)
	begin
	delete from CHITIETDONTHUOC where MADONTHUOC = @MADONTHUOC
	WAITFOR DELAY '00:00:00:50'
	COMMIT TRAN
	return
	end
if exists(select * from CHITIETDONTHUOC where MADONTHUOC = @MADONTHUOC and MATHUOC = @MATHUOC)
	begin
	update CHITIETDONTHUOC set SOLUONG =@SOLUONG , HUONGDAN = @HUONGDAN WHERE MADONTHUOC = @MADONTHUOC AND MATHUOC = @MATHUOC
	WAITFOR DELAY '00:00:00:50'
	COMMIT TRAN
	return
	end
else 
	begin
	INSERT INTO CHITIETDONTHUOC VALUES(@MADONTHUOC,@MATHUOC,@SOLUONG,@HUONGDAN)
	end
if not exists(select * from CHITIETDONTHUOC where MADONTHUOC = @MADONTHUOC and MATHUOC = @MATHUOC)
	begin
	delete from CHITIETDONTHUOC where MADONTHUOC = @MADONTHUOC
	end

END TRY
BEGIN CATCH
	delete from CHITIETDONTHUOC where MADONTHUOC = @MADONTHUOC
	WAITFOR DELAY '00:00:00:50'
	COMMIT TRAN
	return
END CATCH
WAITFOR DELAY '00:00:00:50'
COMMIT TRAN
GO

/****** Object:  StoredProcedure [dbo].[SP_Insert_DonThuoc]    Script Date: 12/9/2017 9:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Drop proc [dbo].[SP_Insert_DonThuoc]
go
CREATE PROC [dbo].[SP_Insert_DonThuoc]
@MAPHIEUKHAM int
AS
SET TRANSACTION ISOLATION LEVEL REPEATABLE READ 
begin TRAN

	IF NOT EXISTS (SELECT * FROM PHIEUKHAM WHERE MAPHIEUKHAM = @MAPHIEUKHAM)
	begin
		COMMIT TRAN
		RETURN
	end

	IF NOT EXISTS (SELECT * FROM DONTHUOC WHERE MAPHIEUKHAM = @MAPHIEUKHAM) 
		BEGIN
			INSERT INTO DONTHUOC(MAPHIEUKHAM) VALUES(@MAPHIEUKHAM)
		END
	DELETE FROM CHITIETDONTHUOC WHERE MADONTHUOC = (SELECT MADONTHUOC FROM DONTHUOC WHERE MAPHIEUKHAM = @MAPHIEUKHAM)
	WAITFOR DELAY '00:00:00:50'
COMMIT TRAN

GO
/****** Object:  StoredProcedure [dbo].[SP_LichSuKham]    Script Date: 12/9/2017 9:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Drop proc [dbo].[SP_LichSuKham] 
go
create proc [dbo].[SP_LichSuKham] 
@MABN int
as
begin TRAN

select pk.MAPHIEUKHAM, pk.NGAYKHAM, pk.CHUANDOAN, pk.KETLUAN
from PHIEUKHAM PK, BENHNHAN BN
where pk.MABN = bn.MABN and pk.MABN = @MABN

COMMIT TRAN

GO
/****** Object:  StoredProcedure [dbo].[SP_LichSuKhamNhanVien]    Script Date: 12/9/2017 9:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Drop proc [dbo].[SP_LichSuKhamNhanVien] 
go
CREATE proc [dbo].[SP_LichSuKhamNhanVien] 
@MaNhanVien int
as
begin TRAN
select BN.MABN, PK.MAPHIEUKHAM, BN.HOTEN, PK.NGAYKHAM,PK.DATHANHTOAN from (BENHNHAN BN inner join PHIEUKHAM PK on BN.MABN = PK.MABN) where PK.HOANTHANH =1 AND PK.MANV = @MaNhanVien
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_Search_Phieukham_By_Id]    Script Date: 12/9/2017 9:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Drop proc [dbo].[SP_Search_All_Phieukham_BenhNhan]
go
CREATE PROC [dbo].[SP_Search_All_Phieukham_BenhNhan]
AS
BEGIN TRAN
SELECT PK.MAPHIEUKHAM,PK.MABN, PK.MANV, PK.CHUANDOAN, PK.MAHINHTHUCKHAM, PK.NHIPTIM, PK.NHIETDO, PK.HUYETAP, PK.CANNANG, PK.CHIEUCAO, PK.MAICD, PK.NGAYKHAM, PK.HOANTHANH, PK.DATHANHTOAN, PK.KETLUAN, BN.TIENSU 
FROM PHIEUKHAM PK, BENHNHAN BN WHERE PK.MABN = BN.MABN
COMMIT TRAN

GO
/****** Object:  StoredProcedure [dbo].[SP_Search_Phieukham_By_Ten]    Script Date: 12/9/2017 9:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Drop proc [dbo].[SP_Search_Phieukham_By_Ten]
go
CREATE PROC [dbo].[SP_Search_Phieukham_By_Ten]
@TEN NVARCHAR (50),
@MANV int
AS
BEGIN TRAN
IF NOT EXISTS(SELECT * FROM NHANVIEN WHERE MANV = @MANV)
BEGIN
COMMIT TRAN
RETURN 
END
ELSE
BEGIN
SELECT MAPHIEUKHAM,HOTEN,NGAYKHAM,HOANTHANH FROM PHIEUKHAM, BENHNHAN WHERE PHIEUKHAM.MABN = BENHNHAN.MABN AND BENHNHAN.HOTEN LIKE '%'+@TEN+'%' AND MANV = @MANV
END
COMMIT TRAN

GO
/****** Object:  StoredProcedure [dbo].[SP_Select_Phieukham_All]    Script Date: 12/9/2017 9:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Drop proc [dbo].[SP_Select_Phieukham_All]
go
CREATE PROC [dbo].[SP_Select_Phieukham_All]
@MANV int
AS
BEGIN TRAN
IF NOT EXISTS(SELECT * FROM NHANVIEN WHERE MANV = @MANV)
BEGIN 
COMMIT TRAN
RETURN 
END
ELSE
BEGIN
SELECT MAPHIEUKHAM,HOTEN,NGAYKHAM,HOANTHANH FROM PHIEUKHAM, BENHNHAN WHERE PHIEUKHAM.MABN = BENHNHAN.MABN AND MANV = @MANV
END 
COMMIT TRAN

GO
/****** Object:  StoredProcedure [dbo].[SP_Select_Phieukham_Chokham]    Script Date: 12/9/2017 9:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Drop proc [dbo].[SP_Select_Phieukham_Chokham]
go
CREATE PROC [dbo].[SP_Select_Phieukham_Chokham]
@MANV int,
@NGKHAM nvarchar (20) 
AS
BEGIN TRAN
IF(ISDATE(@NGKHAM)=0)
BEGIN
COMMIT TRAN
RETURN
END
IF NOT EXISTS(SELECT * FROM NHANVIEN WHERE MANV = @MANV)
BEGIN
COMMIT TRAN
RETURN 
END
ELSE
BEGIN
SELECT PHIEUKHAM.MAPHIEUKHAM, BENHNHAN.HOTEN, PHIEUKHAM.NGAYKHAM FROM PHIEUKHAM, BENHNHAN WHERE PHIEUKHAM.MABN = BENHNHAN.MABN AND HOANTHANH = 0 AND MANV = @MANV AND NGAYKHAM = @NGKHAM
END
COMMIT TRAN


GO
/****** Object:  StoredProcedure [dbo].[SP_TimKiemLichSuKhamNhanVien]    Script Date: 12/9/2017 9:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Drop proc [dbo].[SP_TimKiemLichSuKhamNhanVien] 
go
CREATE proc [dbo].[SP_TimKiemLichSuKhamNhanVien] 
@ThongTin nvarchar(20),
@DuLieu nvarchar (50),
@MaNhanVien int
as 
begin TRAN
	IF NOT EXISTS(SELECT * FROM NHANVIEN WHERE MANV = @MaNhanVien)
	BEGIN
	COMMIT TRAN
	RETURN 
	END
	ELSE
	BEGIN
	IF @ThongTin = 'MAPHIEUKHAM' select BN.MABN, PK.MAPHIEUKHAM, BN.HOTEN, PK.NGAYKHAM,PK.DATHANHTOAN from BENHNHAN BN, PHIEUKHAM PK where BN.MABN = PK.MABN AND PK.MANV = @MaNhanVien AND PK.HOANTHANH =1 AND MAPHIEUKHAM = @DuLieu;
	IF @ThongTin = 'MABN'	     select BN.MABN, PK.MAPHIEUKHAM, BN.HOTEN, PK.NGAYKHAM,PK.DATHANHTOAN from BENHNHAN BN, PHIEUKHAM PK where BN.MABN = PK.MABN AND PK.MANV = @MaNhanVien  AND PK.HOANTHANH =1 AND PK.MABN = @DuLieu;
	IF @ThongTin = 'HOTEN'		 select BN.MABN, PK.MAPHIEUKHAM, BN.HOTEN, PK.NGAYKHAM,PK.DATHANHTOAN from BENHNHAN BN inner join PHIEUKHAM PK on BN.MABN = PK.MABN where PK.MANV = @MaNhanVien AND PK.HOANTHANH =1 AND  BN.HOTEN LIKE '%'+@DuLieu+'%';
	IF @ThongTin = 'NGAYKHAM'	 select BN.MABN, PK.MAPHIEUKHAM, BN.HOTEN, PK.NGAYKHAM,PK.DATHANHTOAN from BENHNHAN BN, PHIEUKHAM PK where BN.MABN = PK.MABN AND PK.MANV = @MaNhanVien AND PK.HOANTHANH =1  AND NGAYKHAM LIKE '%'+@DuLieu+'%';
	END
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_Update_HoanThanhPhieuKham]    Script Date: 12/9/2017 9:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Drop proc [dbo].[SP_Update_HoanThanhPhieuKham] 
go
CREATE proc [dbo].[SP_Update_HoanThanhPhieuKham] 
@MAPHIEU int
as
SET TRANSACTION ISOLATION LEVEL REPEATABLE READ
begin TRAN
BEGIN TRY
IF NOT EXISTS(SELECT * FROM PHIEUKHAM WHERE MAPHIEUKHAM = @MAPHIEU)
RETURN 
ELSE
update PHIEUKHAM set HOANTHANH = 1 where MAPHIEUKHAM = @MAPHIEU
END TRY
BEGIN CATCH
	ROLLBACK TRAN
END CATCH
WAITFOR DELAY '00:00:00:50'
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_Update_Phieukham]    Script Date: 12/9/2017 9:39:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Drop proc [dbo].[SP_Update_Phieukham]
go
CREATE PROC [dbo].[SP_Update_Phieukham]
@MAPHIEUKHAM INT,
@MABN INT,
@CHUANDOAN NVARCHAR(250),
@NHIPTIM NVARCHAR (10),
@NHIETDO NVARCHAR (10),
@HUYETAP NVARCHAR (10),
@CANNANG INT,
@CHIEUCAO INT,
@MAICD NVARCHAR(10),
@NGAYKHAM DATE,
@KETLUAN NVARCHAR(50),
@TIENSU NVARCHAR(250)
AS
SET TRANSACTION ISOLATION LEVEL REPEATABLE READ
BEGIN TRAN 
BEGIN TRY
IF NOT EXISTS (SELECT * FROM PHIEUKHAM WHERE MAPHIEUKHAM = @MAPHIEUKHAM)
BEGIN
	COMMIT TRAN
	RETURN
END 
IF NOT EXISTS (SELECT * FROM BENHNHAN WHERE MABN = @MABN )
BEGIN
	COMMIT TRAN
	RETURN
END
ELSE
BEGIN
UPDATE PHIEUKHAM SET 
MABN = @MABN,
CHUANDOAN = N''+ @CHUANDOAN +'',
NHIPTIM = @NHIPTIM,
NHIETDO = @NHIETDO,
HUYETAP = @HUYETAP,
CANNANG = @CANNANG,
CHIEUCAO = @CHIEUCAO,
MAICD = @MAICD,
NGAYKHAM = @NGAYKHAM,
KETLUAN = @KETLUAN
WHERE MAPHIEUKHAM = @MAPHIEUKHAM
UPDATE BENHNHAN SET TIENSU = @TIENSU where BENHNHAN.MABN = @MABN 
END
END TRY 
	BEGIN CATCH
		ROLLBACK TRAN
	END CATCH
WAITFOR DELAY '00:00:00:50'
COMMIT TRAN

GO


--Trigger
drop trigger TG_PhieuKham_Insert_Update
go
create trigger TG_PhieuKham_Insert_Update
on PHIEUKHAM 
for insert,update
as
	declare @hoanthanh int,@thanhtoan int
	select @hoanthanh = HOANTHANH from inserted
	select @thanhtoan = DATHANHTOAN from inserted
	if(@hoanthanh=0)
	begin 
		if(@thanhtoan=1)
		begin
			rollback tran
			return
		end
	end
	else
	if(@hoanthanh=-1)
	begin
		if(@thanhtoan=1)
		begin
			rollback tran
			return
		end
	end

Go